In [1]:
import pandas as pd

In [5]:
open_data_df = pd.read_csv('subsample.csv')
open_data_df.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,52067,32379764,01/09/2016 04:17:37 PM,01/13/2016 06:15:47 PM,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,APARTMENT ONLY,RESIDENTIAL BUILDING,10030.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.815738,-73.940730,"(40.81573796742099, -73.94072964712291)"
1,253002,33400414,05/21/2016 12:43:01 AM,05/21/2016 03:28:52 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11231.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.679630,-74.009287,"(40.6796297972724, -74.00928738265931)"
2,128,32309437,01/01/2016 12:38:28 AM,01/01/2016 12:50:57 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.723494,-73.988253,"(40.72349367369547, -73.98825325266078)"
3,358333,32813209,03/02/2016 10:52:00 AM,03/02/2016 10:52:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,11422.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.658688,-73.729434,"(40.65868770480924, -73.72943448563208)"
4,107244,33191181,04/22/2016 12:31:00 PM,04/22/2016 07:10:00 PM,DEP,Department of Environmental Protection,Water System,Leak (Use Comments) (WA2),NaN,11229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.602889,-73.951027,"(40.60288926307405, -73.95102719178794)"

In [6]:
pop_df = pd.read_csv('ACS_16_Pop.csv', header=[1])
income_df = pd.read_csv('ACS_16_Income.csv', header=[1])
rent_df = pd.read_csv('ACS_16_Rent.csv', header=[1])

In [7]:
pop_df.head()

               Id    Id2    Geography  Estimate; Total  Margin of Error; Total
0  8600000US06390   6390  ZCTA5 06390              303                     151
1  8600000US07421   7421  ZCTA5 07421             7281                     512
2  8600000US10001  10001  ZCTA5 10001            23332                    1740
3  8600000US10002  10002  ZCTA5 10002            78096                    2456
4  8600000US10003  10003  ZCTA5 10003            56767                    1934

In [8]:
pop_df = pop_df.drop(columns=['Id', 'Geography', 'Margin of Error; Total'])
pop_df = pop_df.drop(pop_df.index[0])
pop_df = pop_df.drop(pop_df.index[0])
pop_df = pop_df.rename(index=str, columns={'Id2': 'Zip Code', 'Estimate; Total': 'Population Estimate'})

In [9]:
pop_df.head()

   Zip Code  Population Estimate
2     10001                23332
3     10002                78096
4     10003                56767
5     10004                 3044
6     10005                 8710